
.sidebar .list-group-item {
  border: 0px !important;
}
.active a {
  color:rgb(255, 254, 254)
}
.card {
	transition: transform 0.1s ease;
	
	border-radius: 0;
	border: 500;
	height:14rem;
	
}

.card:hover {
	transform: scale(1.03);
	box-shadow: 2px 4px 6px 2px rgba(22, 22, 22, 0.18);
}
